<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button {{action "close"}} type="button" class="close">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>

        {{yield}}

    </div>
</div>