<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="mas chat service">
  <meta name="theme-color" content="#000000">
  <title>MAS</title>
  <script>config = {{{ config }}}</script>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="main"></div>
</body>

<script src="{{{ entryFile }}}"></script>
</html>
