@import "~bulma/sass/utilities/_all.sass";

.active-modal {
    composes: modal is-active from 'bulma';
}

.modal-content {
    composes: modal-content from 'bulma';
    background-color: white;
    max-width: 250px;
    margin: 0;
}

.modal-close {
    composes: modal-close from 'bulma';
}

.background {
    composes: modal-background from 'bulma';
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}

@include mobile {
    .modal-content {
        max-width: initial;
        max-height: inherit;

        .section {
            height: 100vh;
        }
    }

    .modal-close {
        background-color: #ccc;
    }
}

.auth-section {
    border-top: 1px solid #d3d3d3;
    margin-top: 20px;
}

.auth-title {
    composes: title from 'bulma';
    margin-top: 20px;
}

.login {
    margin-top: 40px;
}

.google {
    composes: button is-medium from 'bulma';
    color: #4285f4;
}

.yahoo {
    composes: button is-medium from 'bulma';
    color: #410093;
}

.cloudron {
    composes: button is-medium from 'bulma';
    color: #62bdfc;
}

.forgot {
    margin-top: 12px;
    color: black;
    cursor: pointer;
}

.icon {
    composes: icon is-medium from 'bulma';
}

.section {
    composes: section from 'bulma';
}

.headline {
    composes: title is-5 has-text-centered from 'bulma';
}

.control {
    composes: control from 'bulma';
}

.field {
    composes: field from 'bulma';
}

.label {
    composes: label from 'bulma';
}

.input {
    composes: input from 'bulma';
}

.help-danger {
    composes: help is-danger from 'bulma';
}

.wide-button {
    composes: button is-primary is-fullwidth from 'bulma';
}
