.m-content {
    max-width: 250px;
    margin: 0;
}

.m-controls {
    margin-top: 30px;
}

.m-background {
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}

.m-auth-title {
    margin-top: 20px;
}

.m-auth > * {
    margin: 0px 2px;
}

.m-google {
    color: #4285f4;
}

.m-yahoo {
    color: #410093;
}

.m-cloudron {
    color: #62bdfc;
}

.m-forgot {
    cursor: pointer;
}
