<div class="tab-pane flex-grow-column flex-1" id="search">
    <div class="logs-search-controls flex-align-center">
        <div>
            <input placeholder="Channel/group (optional)"> <input> <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div class="logs-search-results flex-1">
        Not implemented yet.
    </div>
</div>
