@import "~bulma/sass/utilities/_all.sass";

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 16px;
}

@include mobile {
    .name {
        display: none;
    }
}

.navbar {
    composes: navbar from 'bulma';
}

.navbar-brand {
    composes: navbar-brand from 'bulma';
    flex: 1000;
}

.navbar-menu {
    composes: navbar-menu from 'bulma';
}

.navbar-item {
    composes: navbar-item from 'bulma';
}

.burger {
    composes: navbar-burger from 'bulma';
}

.menu-item-active {
    composes: menu-item-active from 'bulma';
}

a.menu-item-active, a:hover {
    color: #5cadff;
}

.navbar-end {
    composes: navbar-end from 'bulma';
}

.is-active {
    composes: is-active from 'bulma';
}

.logo {
    composes: icon from 'bulma';
    color: #dbdbdb;
    width: 50px;
}

.title {
    margin-left: 8px;
}

.home {
    composes: navbar-item from 'bulma';
    flex: 1;
}

.button {
    composes: button is-primary is-outlined from 'bulma';
}
