{{#modal-dialog title=alertsTitle proceedButton="Change" cancel="closeModal" submit="changeAlerts"}}
    <form role="form">
        <div class="new-row">
            <label>
                {{input type="checkbox" checked=alerts.sound}} Play sound when a new message arrives.
            </label>
        </div>

        <div class="new-row">
            <label>
                {{input type="checkbox" checked=alerts.title}} Increase the amount of unread messages in the browser title bar when a new message arrives.
            </label>
        </div>

        <div class="new-row">
            <label>
                {{input type="checkbox" checked=alerts.notification}} Show notification when a message arrives.
            </label>
        </div>

        <div class="new-row">
            <label>
                {{input type="checkbox" checked=alerts.email}} Send an email when I'm not logged in and somebody mentions (@mynick) me.
            </label>
        </div>
    </form>
{{/modal-dialog}}
