{{#modal-dialog title="Are you sure?" proceedButton="Destroy" cancel="closeModal" submit="destroy"}}
    <p>
        Your account will be immediately destroyed. All your data will be erased.
    </p>

    <p>
        <b>WARNING</b>: Deletion is permanent and can't be undone.
    </p>

    <p>
        <b>Are you absolutely sure?</b>
    </p>
{{/modal-dialog}}
