{
    "env": {
        // TBD: Split this file for client and server
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "keyword-spacing": 2
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}
