;
; MAS Server main configuration file
;

; GENERAL OPTIONS

; Project root directory is the base if relative paths are used

[common]
env=default

[site]
url=http://localhost:3200
admin_email=admin@example.com

; google auth callback must be /auth/google/oauth2callback

[googleauth]
enabled=false
client_id=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
client_secret=XXXXXXXXXXXXXXXXXXXXXXX

[yahooauth]
enabled=false

[frontend]
port=3200
demo_mode=false
demo_user_email=whogets@fakemessages.com

[log]
enabled=true
directory=logs
clear_at_startup=false
console=false

[pid]
enabled=true
directory=run

[loggly]
enabled=false
subdomain=example
token=nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn

[session]
max_parallel=8
idle_timeout=360

[redis]
port=6379
host=localhost

[elasticsearch]
enabled=false
port=9200
host=localhost

; OPTIONS FOR THE IRC BACKEND

[irc]
enabled=true
identd=false

[irc.networks.IRCNet]
host=localhost
port=6666

[irc.networks.FreeNode]
host=irc.freenode.net
port=6667

[irc.networks.W3C]
host=irc.w3.org
port=6665
