;
; MAS Server main configuration file
;

; GENERAL OPTIONS

[log]
directory=/path/to/somewhere
console=true

[loggly]
enabled=false
subdomain=example
token=nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn

[limits]
maxparallelsessions=8
idletimeout=360

; OPTIONS FOR IRC BACKEND

[irc]
enabled=true

[irc.networks.IRCNet]
host=ircnet.eversible.com
port=6666

[irc.networks.FreeNode]
host=irc.freenode.net
port=6667

[irc.networks.W3C]
host=irc.w3.org
port=6665
