;
; MAS Server main configuration file
;

; GENERAL OPTIONS

; Project root directory is the base if relative paths are used
; all times are in seconds

; Test_mode is not used for anything currently

[common]
env=default
admin=m1
dev_mode=false
test_mode=false

[site]
url=http://localhost:3200
admin_email=admin@example.com

[files]
upload_directory=data/uploads/
cache_directory=data/cache/

; google auth callback must be /auth/google/oauth2callback

[googleauth]
enabled=false
client_id=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
client_secret=XXXXXXXXXXXXXXXXXXXXXXX

[yahooauth]
enabled=false

[frontend]
port=3200
demo_mode=false
demo_user_email=whogets@fakemessages.com

[log]
enabled=true
directory=logs
clear_at_startup=false

[pid]
enabled=true
directory=run

[loggly]
enabled=false
subdomain=example
token=nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn

[session]
max_parallel=8
idle_timeout=120

; Redis connection_type can be socket or unix_socket

[redis]
connection_type=socket
port=6379
host=localhost
unix_socket_path=/tmp/redis.sock

[elasticsearch]
enabled=false
port=9200
host=localhost

; OPTIONS FOR THE LOOPBACK BACKEND

[loopback]
initial_groups=lobby,test

; OPTIONS FOR THE IRC BACKEND

; rate_limit is in new connections per minute
; inactivity_timeout is no logins to mas in days

[irc]
enabled=true
identd=false
inactivity_timeout=10

[irc.networks.IRCNet]
host=localhost
port=6666
ssl=false
rate_limit=10

[irc.networks.FreeNode]
host=irc.freenode.net
port=6667
ssl=false
rate_limit=10

[irc.networks.W3C]
host=irc.w3.org
port=6665
ssl=false
rate_limit=10
