/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 0px;
}

.menu a {
	margin-right: 30px;
}

.form-group {
	margin-right: 10px;
}

.hero {
	background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #E9FF26 0%, #048004 100%);
	background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #E9FF26 0%, #048004 100%);
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #E9FF26), color-stop(1, #048004));
	background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #E9FF26 0%, #048004 100%);
	background-image: radial-gradient(ellipse farthest-corner at center bottom, #E9FF26 0%, #048004 100%);
}

#register-form-container {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	max-width: 500px;
	margin-top: 40px;
	margin-bottom: 50px;
}

form:nth-child(1) {
	margin-top: 30px;
}

form div {
    margin-bottom: 10px;
}

ul[role=alert] {
	color: red;
}

.error_msg {
    color: red;
    margin-bottom: 10px;
}

.tooltip {
	opacity: 1;
	background-color: yellow;
	border: 1px solid red;
	padding: 10px;
}

.field input {
    display: block;
}



