.window {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 5px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.messages {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.members {
  width: 20px;
  display: flex;
  flex-direction: column;
}

.memberList {
  flex: 1;
}

.toggleMembers {

}

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.textarea:focus {
  background-color: rgb(247, 243, 200);
  color: blue;
}

.textarea:focus::placeholder {
  color:transparent;
}

.textarea {
  border: 1px solid #ccc;
  resize: none;
  line-height: 24px;
  width: 100%;
  box-sizing: border-box;
}
