.sidebar {
  background-color: #303035;
  box-sizing: border-box;
  color: whitesmoke;
  padding: 10px;
  width: 219px;
}

.section {
  margin-bottom: 14px;
}

.heading {
  color: #bbb;
}

.item:hover:not(.selected) {
  background-color:#384f9f;
}

.selected {
  background-color: #5070e4;
}
