<div id="window-contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-header"></li>
        <li><a data-action="chat" href="#">Start private chat with</a></li>
        <li class="window-contexMenu-request-friend"><a data-action="requestFriend" href="#">Add to contacts list</a></li>
    </ul>
</div>
