@import "~bulma/sass/utilities/_all.sass";

.active-modal {
    composes: modal is-active from 'bulma';
}

.modal-content {
    composes: modal-content from 'bulma';
    background-color: white;
    max-width: 500px;
    margin: 0;
}

.modal-close {
    composes: modal-close from 'bulma';
}

.section {
    composes: section from 'bulma';
}

.headline {
    composes: title is-4 has-text-centered from 'bulma';
}

.control {
    compose: control from 'bulma';
    margin-top: 30px;
}

.background {
    composes: modal-background from 'bulma';
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}

@include mobile {
    .modal-content {
        max-width: initial;
        max-height: inherit;

        .section {
            height: 100vh;
        }
    }

    .modal-close {
        background-color: #ccc;
    }
}

.level-left {
    composes: level-left from 'bulma';
}

.level-item {
    composes: level-item from 'bulma';
}

.primary-button {
    composes: button is-primary from 'bulma';
}

.icon {
    composes: icon is-medium from 'bulma';
}

.google {
    composes: button is-medium from 'bulma';
    color: #4285f4;
}

.yahoo {
    composes: button is-medium from 'bulma';
    color: #410093;
}

.cloudron {
    composes: button is-medium from 'bulma';
    color: #62bdfc;
}

.yahoo, .cloudron {
    margin-left: 8px;
}

.ext {
    composes: level from 'bulma';

    margin-top: 20px;
}
