<% include header %>

<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->

			<div class="column wrap"><!-- Column 1 -->

				<!-- Menu 2 --><!--
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li>
				</ul>
				 --><!-- Menu 2 END -->

				<h4>About MeetAndSpeak</h4>

<p>MeetAndSpeak is a Web-based messaging service optimised to provide permanent
meeting places for various kinds of communities, all around the world.

<p>MeetAndSpeak has been built from scratch to scale well, supporting thousands of groups,
each of which may have hundreds of active participants.

<p>The service was launched in April 2010.

				<h4>E-mail support</h4>

	<p>You can e-mail your questions directly to <a href="mailto:support@meetandspeak.com">support@meetandspeak.com</a>

				<h4>Contact details</h4>

				<p/>

				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td style="padding-bottom:20px">
							<img src="/i/ilkka.jpg" alt="Ilkka Oksanen">
						</td>
						<td style="vertical-align:top;padding-left:20px">
							Ilkka Oksanen<br>
                                                        Founder<br>
							<a href="mailto:ilkka@meetandspeak.com" target="_blank">ilkka@meetandspeak.com</a><br>
<a href="http://www.twitter.com/ilkkao"><img style="padding-top:5px;" src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow ilkkao on Twitter"/></a>
						</td>
					</tr>
				</table>

			</div><!-- Column 1 END-->

			<div class="column wrap"><!-- Column 2 -->
			        <h4>Background</h4>

<p>MeetAndSpeak was born of the clear need for a Web chat tool with a user interface similar to that of native <a href="http://en.wikipedia.org/wiki/IRC">IRC</a> clients.

<p>From the beginning, the idea has been to provide a group chat service with superb user
experience. No more, no less. The service is not targeted
at any particular type of user, yet it has been carefully designed with flexibility to meet a broad range of needs, from those of small hobby groups to projects at multinational companies.

<p>MeetAndSpeak service is run by MeetAndSpeak Ltd. (business ID 2336555-5), a privately owned company located at Espoo, Finland.

<h4>Share</h4>

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmeetandspeak.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:px; background-color:#eeeeee;"></iframe>

<!--
<p><script type="text/javascript" src="http://static.ak.connect.facebook.com/connect.php/en_US"></script><script type="text/javascript">FB.init("691917cba0501d73ceb7b89d9455c0be");</script><fb:fan profile_id="319122183636" stream="0" connections="0" logobar="1" width="300"></fb:fan><div style="font-size:8px; padding-left:10px"></div> -->

			<br><br><br><br><br><br><br><br><br><br><br><br><br>

			</div><!-- Column 2 END-->
		</div>

'	</div>
</div><!-- Content END -->

<% include footer %>
