<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<style>
    * {
        font-family: 'Cabin', sans-serif;
    }

    body {
        background-color: #13262f;
        color: #d9d9d9;
    }

    .narrow-container {
        margin: 50px auto;
        max-width: 600px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }
</style>

<div class="narrow-container">
    <h1>Thanks!</h1>

    <p>
        Your email address is confirmed. You can now close this page.
    </p>
</div>
