<div id="footer"><!-- Footer -->
	<div id="footer-container">
		<ul id="footer-list">
 			<li><a href="/">Main</a></li>
 			<!-- <li><a href="/tour.html">Tour</a></li> -->
 			<!-- <li><a href="/guide.html">User Guide</a></li> -->
 			<li><a href="/privacy_and_tou.html">Privacy &amp; Terms of Use</a></li> 						
 			<li><a href="/about.html">About Us</a></li>
 			<li><a href="/developers.html">Developers</a></li>
		</ul>
	
		<p class="copyright">&copy; 2012 MeetAndSpeak Ltd</p>
	</div>
</div><!-- Footer END -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12303323-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
