<div class="register-form-container">

    <h1>Email sent</h1>

    <p>See your spam folder if you don't see it in couple minutes.</p>

    <p>No email was sent if the email address you gave is not valid</p>

    <a href="/">Back to front page</a>
</div>
