<div class="register-form-container">

    <h1>Reset Your Password</h1>

    <p>
        Enter your email address and click send. You will receive password reset email if the email address belogs to a valid user.
    </p>

    <form id="register-form" class="register-form" action="/forgot-password" method="post" role="form" novalidate autocomplete="off">
        <input name="email"></input>

        <div class="register-controls">
            <button type="submit" class="btn">Send</button>
        </div>
    </form>
</div>
