<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>MeetAndSpeak - An advanced Web-based chat tool for groups.</title>

	<meta name="description" content="an advanced Web-based chat tool for groups."/>
	<meta name="keywords" content="MeetAndSpeak, chat, irc, group"/>

	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<link href="/stylesheets/reset.css" type="text/css" rel="stylesheet" media="screen"/>
	<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen"/>

	<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.infieldlabel.min.js" type="text/javascript" charset="utf-8"></script>
	<!--qooxdoo here-->
	<script src="/javascripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascipts/jquery.json-2.2.min.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		$(function(){ $("label").inFieldLabels(); });
	</script>

</head>
<body>

<div id="header-bgr"><!-- Header -->
	<div class="container">
		<div class="row">
			<div class="column header">
				<h1><a href="/" title="MeetAndSpeak"><img src="/images/header_meetandspeak.jpg" height="128" width="900" alt="MeetAndSpeak"/></a><br/><a href="/" title="MeetAndSpeak">MeetAndSpeak - MeetAndSpeak is an advanced web based chat tool for groups.</a></h1>
			</div>
		</div>
	</div>
</div><!-- Header END -->
