<div class="flex-grow-row login-register-container flex-align-center">
    <div class="info">
        <img class="logo" src="/images/logo.png">
        <h2>MAS - A modern open source chat tool</h2>
        <p><a href="http://github.com/ilkkao/mas">http://github.com/ilkkao/mas</a></p>

        <div class="register">
            <a href="/register" class="btn btn-register btn-primary btn-lg">Register &raquo;</a>
        </div>
    </div>
    <div class="flex-1">
        <div class="login">
            <form id="login-form" method="post" class="form-horizontal">
                <div class="login-error"></div>
                <div id="email-or-nick" class="form-group">
                    <input type="text" name="username" placeholder="Email or Nick" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-login">Sign in</button> <a class="forgot" href="/forgot-password.html"><small>Forgot your password?</small></a>
            </form>

            <div class="register-horizontal-divider">
                <div class="or-label">OR</div>
            </div>

            <a class="btn btn-social btn-google-plus" href="/auth/google">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </a>

            <a class="btn btn-social btn-yahoo">
                <i class="fa fa-yahoo"></i> Sign in with Yahoo
            </a>
        </div>
    </div>
</div>

