    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron hero">
      <div class="container text-center">

      <img id="mas-logo" src="/images/littealogo.png">

        <h1>MAS</h1>
        <p>an advanced chat tool for groups</p>
        <p><a href="/register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Open source, IRC like chat service</h2>
          <p>
              <ul>
                  <li>Register.</li>
                  <li>Create a group for your team, project, or friends.</li>
                  <li>Ask others in your team to register too, or share the link for registration-free participation.</li>
                  <li>Interact non-stop, using a modern Web-based UI, no browser plugins required.</li>
              </ul>
          </p>
      </div>
        <div class="col-lg-6">
          <h2>Registered users have</h2>
          <p>
              <ul>
                  <li>The power to create and manage new groups.</li>
                  <li>Always-online sessions. Never miss conversations.</li>
                  <li>Searchable conversation logs.</li>
              </ul>
          </p>

       </div>
      </div>
    </div> <!-- /container -->



