<% include header %>

<div id="content-bgr"><!-- Content -->
  <div class="container">
    <div class="row"><!-- Row 1 -->

      <div class="column wrap" style="width: 100%;"><!-- Column 1 -->

	<!-- Menu 2 -->
        <!--
              <ul id="menu-2">
		<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		<li><a href="">Toisen tason otsikko</a></li>
	      </ul>
	 --><!-- Menu 2 END -->

        <br><br><br><br><br><br><br>

	<h2>Thank you!</h2>

        <p>Now, to activate your account, please follow the link in
        the e-mail message you will soon receive from MeetAndSpeak
        support 'support@meetandspeak.com'.</p>

        <p>In case you don't see the message soon, check the spam
        forder in your email client.</p>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      </div><!-- Column 1 END-->

      <div class="column wrap"><!-- Column 2 -->
      </div><!-- Column 2 END-->
    </div>
  </div>
</div><!-- Content END -->

<% include footer %>
