<% include header %>

<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->

		<!--	<div class="column wrap"> --><!-- Column 1 -->
			<div class="column"><!-- Column 1 -->

				<!-- Menu 2 --><!--
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li>
				</ul>
				 --><!-- Menu 2 END -->

				<h2><register_title></h2>

<br><p><!-- New users are accepted as quickly as possible. At the same time, we
make sure that the user experience of existing users is not
affected. Therefore, we might not be able to accept your registration
immediately. In this event, you will be automatically placed on a
waiting list. You will be notified
by e-mail about the processing of your registration request.
-->

<data1>

</p>
				<p/><br>

				<center><div id="isle-register"></div></center>

<br><br><br><br>

<div id="openidenabled" title="<url>"></div>

			</div><!-- Column 1 END-->

		</div>

	</div>
</div><!-- Content END -->

<% include footer %>
