<div class="narrow-container">
    <div class="register-form-container">

        Fill in the simple form below and click the button, you get an instant access.

        <form id="register-form" class="register-form" action="/register" method="post" role="form" novalidate autocomplete="off">
            {{{registrationForm}}}

            <div class="register-controls">
                <button type="submit" class="btn btn-primary">Complete Registration</button>
            </div>
        </form>
    </div>

    <div class="horizontal-divider">
        <div class="or-label">OR</div>
    </div>

    <a class="btn btn-social btn-google-plus" href="/auth/google">
        <i class="fa fa-google-plus"></i>Register with Google account
    </a>

    <a class="btn btn-social btn-yahoo" href="/auth/yahoo">
        <i class="fa fa-yahoo"></i>Register with Yahoo account
    </a>
</div>
