<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<style>
    * {
        font-family: 'Cabin', sans-serif;
    }

    body {
        background-color: #13262f;
        color: #d9d9d9;
    }

   .narrow-container {
        margin: 50px auto;
        max-width: 600px;
    }

    #register-form {
        margin: 40px 0;
    }

    .field {
        margin: 25px 0;
    }

    label {
        color: #d9d9d9;
        margin-bottom: 5px;
        display: block;
    }

    input {
        font-size: 18px;
        width: 300px;
    }

    button {
        font-size: 18px;
        text-align: center;
        line-height: 48px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #13262f;
        border-color: #5cadff;
        color: #5cadff;
        padding: 0 20px;
        cursor: pointer;
    }

    a, a:link, a:visited {
        color: white;
    }

    .error_msg {
        color: red;
    }
</style>

<div class="narrow-container">
    Please fill the form below to complete the registration.

    <form id="register-form" class="register-form" action="/api/v1/register-ext" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

        <div class="register-controls">
            <button type="submit" class="btn btn-primary">Complete Registration</button>
        </div>
    </form>
</div>
