<div class="register-form-container">

	Fill in the simple form below and click the button, you get an instant access.

	<form id="register-form" class="register-form" action="/register" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

		<div class="register-controls">
			<button type="submit" class="btn">Complete Registration</button>
		</div>
	</form>
</div>