<div id="register-form-container">

	Fill in the simple form below and confirm your e-mail address. That's all that's needed. You will get instant access to MeetAndSpeak.

	<div id="results"></div>

	<form id="register-form" role="form" novalidate>
		<div class="form-group control-group">
			<label class="control-label" for="name">Your name</label>
			<div class="controls">
				<input type="text" class="form-control" name="name" id="name" placeholder="First Last" required minlength="5">
			</div>
		</div>
		<div class="form-group control-group">
			<label class="control-label" for="email">Email address</label>
			<div class="controls">
				<input type="email" class="form-control" name="email" id="email" placeholder="user@example.com" required>
			</div>
		</div>
		<div class="form-group control-group padding-top-30 ">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password" minlength="6">
			</div>
		</div>
		<div class="form-group control-group">
			<label class="control-label" for="passwordAgain">Password (again)</label>
			<div class="controls">
				<input type="password" class="form-control" name="passwordAgain" id="passwordAgain" placeholder="Verify Password" 
				data-validation-matches-match="password" data-validation-matches-message="Must match password entered above">
			</div>
		</div>
		<div class="form-group control-group padding-top-30">
			<label class="control-label" for="exampleInputEmail1">Nickname</label>
			<div class="controls">
				<input type="text" class="form-control" name="nick" id="nick" placeholder="Nick" minlength="6">
			</div>
			<small>Your handle in conversations, as in "<b>&lt;Nick&gt;</b> Hello!"</small>
		</div>
		<div class="checkbox control-group padding-top-30">
			<label class="control-label">
				<div class="controls">
					<input type="checkbox" required data-validation-required-message="You must agree to the terms and conditions"> I Accept Terms of Use.
				</div>
			</label>
		</div>
		<div id="error-msg">
		</div>
		<div class="padding-top-30">
			<button type="submit" class="btn btn-success">Complete Registration</button>
		</div>
	</form>
</div>