<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<style>
    body {
        background-color: #13262f;
        color: #d9d9d9;
        font-family: 'Cabin', sans-serif;
    }

   .narrow-container {
        margin: 50px auto;
        max-width: 600px;
    }

    #register-form {
        margin: 40px 0;
    }

    .field {
        margin: 25px 0;
    }

    label {
        color: #5cadff;
        margin-bottom: 5px;
        display: block;
    }

    input {
        font-size: 18px;
        width: 300px;
    }
</style>

<div class="narrow-container">
    Please fill the form below to complete the registration.

    <form id="register-form" class="register-form" action="/register-ext" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

        <div class="register-controls">
            <button type="submit" class="btn btn-primary">Complete Registration</button>
        </div>
    </form>
</div>
