<div id="register-form-container">

	Fill in the simple form below and confirm your e-mail address.

	<form id="register-form" class="register-form" action="/register" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

		<div class="register-controls">
			<button type="submit" class="btn btn-success">Complete Registration</button>
		</div>
	</form>
</div>