<div class="register-form-container">

    Please enter new password.

    <form id="register-form" class="register-form" action="/register-reset" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

        <div class="register-controls">
            <button type="submit" class="btn">Change password</button>
        </div>
    </form>
</div>