<div class="register-form-container">

    Please fill the form below to complete the registration.

    <form id="register-form" class="register-form" action="/register-ext" method="post" role="form" novalidate autocomplete="off">
        {{{registrationForm}}}

        <div class="register-controls">
            <button type="submit" class="btn">Complete Registration</button>
        </div>
    </form>
</div>