<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->
		
			<div class="column"><!-- Column 1 -->
				
				<!-- Menu 2 --><!--  
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li> 						
				</ul>
				 --><!-- Menu 2 END -->
				
				<h2>Reset Your Password</h2>
				
				<p><div id="isle-resetpw"></div></p>
								
			</div><!-- Column 1 END-->			
		</div>
	
'	</div>
</div><!-- Content END -->

