<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->
		
			<div class="column wrap"><!-- Column 1 -->
				
				<!-- Menu 2 --><!--  
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li> 						
				</ul>
				 --><!-- Menu 2 END -->
<!--				
				<h4>Support service</h4>	
	
<p>Visit our separate <a href="http://getsatisfaction.com/meetandspeak/">support pages</a>, or enter your question or comment directly in the box at the right and a member of staff will get back to you as soon as possible.</p>
-->
				<h4>E-mail support</h4>

	<p>You can e-mail your questions directly to <a href="mailto:support@meetandspeak.com">support@meetandspeak.com</a>

			<h4>Frequently asked questions</h4>

			<p><b>Q:</b> What browsers are supported?</p>

			<p><b>A:</b> Internet Explorer 7 and anything newer works. For the optimal user experience, we recommend latest Mozilla Firefox, Google Chrome, Apple Safari, or Opera browser. JavaScript and Cookies must be enabled.</p>

			<p>FAQ will be expanded as questions are submitted.</p>

			</div><!-- Column 1 END-->

			<div class="column wrap"><!-- Column 2 -->

<br><br><br><br><br>
<!--
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "inline";  
  feedback_widget_options.company = "meetandspeak";

  feedback_widget_options.style = "question";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
-->
			</div><!-- Column 2 END-->
				
			
		</div>
	
	</div>
</div><!-- Content END -->
