<% include header %>

<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->

		<!--	<div class="column wrap"> --><!-- Column 1 -->
			<div class="column" style="width: 100%;"><!-- Column 1 -->

				<!-- Menu 2 --><!--
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li>
				</ul>
				 --><!-- Menu 2 END -->

<br><br><br><br><br><br><br><br>

<center>

<br><br>

<h3>Your e-mail address has been confirmed.<br><br> Now, we will process your registration and accept it as soon as we can. <br>Another message will be sent to you when that happens. Stay tuned.</h3>

</center>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

			</div><!-- Column 1 END-->

		</div>

	</div>
</div><!-- Content END -->

<% include footer %>
