<div id="content-bgr"><!-- Content -->
  <div class="container">
    <div class="row"><!-- Row 1 -->

      <!-- <div class="column wrap"> --><!-- Column 1 -->
      <div class="column" style="width: 100%;"><!-- Column 1 -->

	<!-- Menu 2 -->
        <!-- <ul id="menu-2">
	     <li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
	     <li><a href="">Toisen tason otsikko</a></li>
	</ul>
	--><!-- Menu 2 END -->

        <br><br><br><br><br><br><br><br>

        <center>

          <br><br>

          The registration process is complete! <br><br>You can now go
          to <a href="https://meetandspeak.com/">the main page</a> and
          log in!

        </center>

        <br><br><br><br><br><br><br><br><br><br><br><br>

      </div><!-- Column 1 END-->
    </div>
  </div>
</div><!-- Content END -->
