<% include header %>

<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->

		<!--	<div class="column wrap"> --><!-- Column 1 -->
			<div class="column"><!-- Column 1 -->

				<!-- Menu 2 --><!--
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li>
				</ul>
				 --><!-- Menu 2 END -->

<br><br><br><br>

<center>

<img src="/i/men_at_work_sign.gif">

<br><br><br>

<h2>MeetAndSpeak is having some technical problems, sorry!</h2>

<br><br>

<h2>You can try to reload this page to see if the service is back online. We are trying to fix the situation as quickly as possible.<h2>

</center>

<br><br><br><br><br><br><br><br>

			</div><!-- Column 1 END-->

		</div>

	</div>
</div><!-- Content END -->

<% include footer %>
