<% include header %>

<div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->

		<!--	<div class="column wrap"> --> <!-- Column 1 -->
			<div class="column wrap"><!-- Column 1 -->
				<!-- Menu 2 --><!--
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li>
				</ul>
				 --><!-- Menu 2 END -->

				<h4>MeetAndSpeak features</h4>
<br>
                        </div><!-- Column 1 END-->

                </div>

                <div class="row" style="margin-top: 15px; width=100%"><!-- Row 2 -->
			<div class="column wrap"><!-- Column 1 -->
				<h3>Rich user interface</h3>
				<p>MeetAndSpeak offers a modern AJAX UI including graphical windows and menus.

				<h3>Always-online operation</h3>
				<p>In normal IM applications, you have to be online to receive any messages. With MeetAndSpeak,
you don't leave a group when you log out. Instead, the session is automatically fully
restored when you log in. The screen looks exactly as you left it, showing all the
conversations that occurred while you were gone.</p>

				<h3>Secure connections</h3>
				<p>Users can enable secure (HTTPS) connections to MeetAndSpeak servers.</p>

				<h3>Keyboard shortcuts</h3>
				<p>Power users can move between windows via the keyboard. Key commands include completion of nicks of users in the groups, for faster conversation.</p>

				<h3>Fully ownership</h3>
<p>The creator of a MeetAndSpeak group has full control over it. MeetAndSpeak staff do not
monitor or in any way perform administration of the groups. The group's creator has the right to designate certain members as
'operators' for the group. Both operators and the creator have the ability to ban and eject people from the group if the need arises. </p>

			</div><!-- Column 1 END-->

			<div class="column wrap"><!-- Column 2 -->
				<h3>Logging & search</h3>

<p> Each user has the option of storing old conversations. Currently storage space for old conversations is unlimited. The archiving period might change in the future for free accounts. Logs can be browsed by date or searched using the quick and powerful full-text search engine.</p>

				<h3>URL catcher</h3>

<p>All recent web links mentioned in the group are stored to a separate list for fast access.</p>

                <h3>    Presence status for contacts</h3>

<p>With your friends/colleagues consent, simply add them to your contacts bar in order to see at a glance how long they have
been idle.</p>

				<h3>IRC connectivity</h3>
				<p>Registered users can make connections to IRCnet and Freenode</p>

				<h3>Visitor access</h3>
				<p>Registered users can invite others to join their MeetAndSpeak group. Those invited are not required to register an account.</p>

			</div><!-- Column 2 END-->


		</div>

	</div>
</div><!-- Content END -->

<% include footer %>
