 <div id="content-bgr"><!-- Content -->
	<div class="container">
		<div class="row"><!-- Row 1 -->
			<div class="column"><!-- Column 1 -->
				
				<!-- Menu 2 --><!--  
				<ul id="menu-2">
		 			<li><a href="">Toisen tason otsikko &nbsp;&nbsp;&#124;&nbsp;&nbsp;</a></li>
		 			<li><a href="">Toisen tason otsikko</a></li> 						
				</ul>
				 --><!-- Menu 2 END -->

<p>Information system description in accordance with the Finnish Act on the Openness of
Government Activities (621/1999), section 18, and the Decree on the Openness of
Government Activities and on Good Practice in Information Management (1030/1999),
section 8.</p>

</div>
</div>

			<div class="row" style="margin-top: 15px; width=100%"><!-- Column 1 -->
			<div class="column wrap"><!-- Column 1 -->


<h3>Name of register</h3>

<p>MeetAndSpeak user database.</p>

<h3>Register maintained by:</h3>

<p>MeetAndSpeak.com</p>

<h3>Address:</h3>

<p>Visamäki 3 B14, 02130 Espoo</p>

<h3>Register administrator:</h3>

<p>Ilkka Oksanen, ilkka@meetandspeak.com</p>

<h3>Technical maintenance of register:</h3>

<p>MeetAndSpeak.com</p>

			</div><!-- Column 1 END-->

			<div class="column wrap"><!-- Column 2 -->


<h3>Purpose of maintaining the register:</h3>

<p>The register contains data on the MeetAndSpeak users. Its purpose is to enable easy-to-use chat service.</p>

<h3>Contents of register:</h3>

<ul style="list-style-type: disc; padding: 0px 10px 10px 30px;">
<li>User's name and e-mail address.</li>
<li>User identification (user ID).</li>
<li>User home country.</li>
<li>User time zone.</li>
<li>User preferences.</li>
<li>Active groups and channels.</li>
<li>Past conversations.</li>
<li>User login dates.</li>
</ul>

<h3>Regular information sources:</h3>

<p>Information provided by the customer.</p>

<h3>Access to the information:</h3>

<p>Access to user data is not granted for external use.</p>

<h3>Protection of the register:</h3>

<p>User information is kept in locked and protected data centre facilities.</p>

			</div><!-- Column 2 END-->
	</div>

			<div class="row" style="margin-top: 15px; width=100%"><!-- Column 1 -->
			<div class="column"><!-- Column 1 -->

<p><b>Register description updated 25 March 2010</b></p>

</div>
</div>
</div>	
</div> <!-- Content END -->
