<% include header %>

<div id="content-bgr"><!-- Content -->
  <div class="container">
    <div class="row"><!-- Row 1 -->
      <div class="column"><!-- Column 1 -->
	<h2><register_title></h2>

	<form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password again</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nick</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">I accept Terms Of Use
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- Column 1 END-->
    </div>
  </div>
</div><!-- Content END -->

<% include footer %>
