{{#modal-dialog title="Create new group" proceedButton="OK" cancel="closeModal" submit="newGroup"}}
    <span class="error-text">{{errorMsg}}</span>
    <form role="form">
        <div class="form-group">
            <label>Type the name of the group you wish to join</label>
            {{input class="form-control" elementId="create_group_name" value=group}}
        </div>
        <div class="form-group">
            <label>Protect with password (optional)</label>
            {{input class="form-control" elementId="create_group_password" value=password}}
        </div>
    </form>
{{/modal-dialog}}
