{{#modal-dialog title="Take a photo" proceedButton="Upload photo" cancel="closeModal" submit="uploadPhoto"}}
    <div class="webcam">
        <div class="viewfinder"></div>
        <div class="shot"></div>

        <div class="note">
            {{note}}
        </div>

        <button {{action "takePhoto" target="view"}} type="button" class="btn btn-primary btn-capture"><i class="fa fa-camera"></i></button>
    </div>
{{/modal-dialog}}
