<div class="blocker"></div>

{{#if activeModal}}
    {{component activeModal model=modalModel action="closeModal"}}
{{/if}}

{{outlet 'fullscreen-modal'}}

{{alert-message alert=currentAlert hide="hideAlert" action="ackAlert"}}

{{outlet}}
