<div class="logs-content flex-grow-column flex-1">
    <div>
        <ul class="nav nav-tabs modal-header" role="tablist">
            <li class="active"><a href="#browse" role="tab" data-toggle="tab">Browse</a></li>
            <li><a href="#search" role="tab" data-toggle="tab">Search</a></li>
        </ul>

        <div class="tab-content flex-grow-column flex-1">
            {{partial "logs-browse"}}
            {{partial "logs-search"}}
        </div>
    </div>

    <div class="logs-controls flex-grow-column modal-footer">
        <button {{action "close"}} type="button" class="btn flex-1 btn-primary">Close</button>
    </div>
</div>
