{{#modal-dialog title=passwordTitle proceedButton="Change" cancel="cancel" submit="changePassword"}}
    <span class="error-text">{{errorMsg}}</span>
    <form role="form">
        <label class="modal-radio">
            {{view 'radio-button' selectionBinding="modalPasswordStatus" value="enabled"}}
            Enabled
        </label>
        <label class="modal-radio">
            {{view 'radio-button' selectionBinding="modalPasswordStatus" value="disabled"}}
            Disabled
        </label>
        <div class="form-group">
            <label for="password">Password</label>
            {{input class="form-control" elementId="password" valueBinding="modalPassword" disabled=modalPasswordDisabled}}
        </div>
    </form>
{{/modal-dialog}}
