.main-short-name {
    width: 40px;
    margin: 0px 0px 10px 0px;
    position: relative;

    &:after {
        display: block;
        position: absolute;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,#4e5d6c 90%);
        content: "\0020";
        width: 20px;
        right: -5px;
        top: 0;
        bottom: 0;
    }
}

.main-badge {
 //   background-color: #b94a48;
    background-color: #009900;
    font-size: 11px;
    border-radius: 0px;
    display: block;
    width: 27px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-hidden-window-container {
    cursor: pointer;
}