@window-bg-color: white;//lighten(#2b3e50, 55%);
@window-line-color: darken(@window-bg-color, 20%);
@window-outer-line-color: lighten(@window-title-bg-color, 18%);

@window-toolbar-bg-color: whitesmoke;
@window-title-bg-color: #142F40;

.window {
    background-color: @window-bg-color;
    font-size: 13px;
    color: #333333;
    position: absolute;

    // Initial value, overwritten by velocity animation
    visibility: hidden;

    &.hidden {
        display: none;
    }

    &.expanded {
        z-index: 10;
    }

    &.velocity-animating {
        box-shadow: 0px 0px 25px #4E4755;
        z-index: 5;
    }

    .window-title {
        padding: 4px 8px;
        background-color: @window-title-bg-color;
        border-bottom: 1px solid @window-outer-line-color;
        color: whitesmoke;
        cursor: move;
    }

    .window-title.private-1on1 {
        background-color: green;
    }

    .window-title-button {
        cursor: pointer;
        opacity: 0.5;
    }

    .window-title-button:hover {
        opacity: 1;
    }

    .window-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 8px;
    }

    .window-messages {
        color: #333333;
        padding: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        line-height: 138%;
        font-weight: 400;
        position: relative; // Required for lazy image loading algorithm

        .emoji {
            height: 16px;
            position: relative;
            top: -2px;
        }

        img[data-src] {
            width: 48px;
            height: 48px;
        }
    }

    .line {
        clear: both;
    }

    .timestamp {
        float: left;
        color: @body-bg;
        width: 37px;
    }

    .body {
        display: inline;
    }

    .nick {
        float: left;
        display: inline-block;
        font-weight: bold;
        padding-right: 3px;
        &:after {
            content: ":";
        }
    }

    .line.banner {
        white-space: pre;

        .nick {
            display: none;
        }

        .body {
            display: block;
            font-family: Courier New, monospace;
            text-overflow: ellipsis;
            font-size: 11px;
        }
    }

    .line.info {
        .nick {
            display: none;
        }

        .body {
            color: #a52a2a;
        }
    }

    .line.mymsg {
        color: rgb(33, 33, 208);
    }

    .line.error {
        color: red;
    }

    ul.user-image {
        margin: 0px 0px 0px 37px;
        padding: 0px;

        li {
            display: inline;
            list-style: none;
        }

        li img {
            max-height: 150px;
            max-width: 100%;
            width: auto;
            margin: 8px 8px 8px 0px;
        }
    }

    .date-divider {
        width: 100%;
        height: 17px;
        font-size: 10px;
        font-weight: bold;
        background-color: whitesmoke;
        text-align: center;
        white-space: nowrap;
    }

    .window-members {
        width: 100px;
        border-left: 1px solid @window-line-color;
        line-height: 150%;
        overflow-y: auto;

        & > * {
            cursor: default;
            padding: 0px 8px;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        & > *:hover {
            background-color: #eee;
        }

        .window-operator {
            font-weight: bold
        }

        .window-voice::before {
            content: "+";
        }
    }

    .window-toolbar {
        border-top: 1px solid @window-line-color;
        height: 32px;

        .btn {
            background-color: whitesmoke;
            color: #777777;
            padding: 3px 16px;
        }

        .dropdown-toggle {
            width: 50px;
        }

        .form-control {
            background-color: white;
            box-shadow: none;
            height: 31px;
            padding: 0px 10px;
        }
    }

    .window-new-messages {
        position: absolute;
        white-space: nowrap;
        left: 0px;
        bottom: 40px;
        padding: 5px 10px 5px 5px;
        color: white;
        background-color: @navbar-default-bg;
        opacity: 0.93;
        z: 100;
    }

    .window-buttons {
        width: 100px;
        border-left: 1px solid @window-line-color;
    }

    .window-add-text-container {
        position: relative;
    }
}
