
.logs-controls {
    padding: 10px;
    background-color: @gray-lighter;
}

.logs-mode {
    width: 190px;
}

.logs-date {
    margin: 0px 20px;
    width: 120px;
    text-align: center;
}

.logs-no-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
