
.logs-controls {
    padding: 20px 0px;
    height: 80px;
}

.logs-title {
    padding-right: 60px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 25px;
}

.logs-mode {
    width: 190px;
}

.logs-conversationselector {
    width: 260px;
    padding-left: 40px;
}

.logs-date {
    margin: 0px 20px;
    width: 120px;
    text-align: center;
}

.logs-channel {
    background-color: whitesmoke;
}

.logs-emulated-window-title {
    padding: 4px 8px;
    background-color: #142f40;
    border-bottom: 1px solid #2a6286;
    width: 100%;
}
