.main-short-name {
    width: 40px;
    margin: 0px 0px 10px 0px;
    position: relative;
    font-size: 12px;
    white-space: nowrap;

    &:after {
        display: block;
        position: absolute;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,#28537e 99%);
        content: "\0020";
        width: 20px;
        right: -10px;
        top: 0;
        bottom: 0;
    }
}

.main-badge {
    background-color: #009900;
    font-size: 11px;
    border-radius: 0px;
    display: block;
    width: 27px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-hidden-window-container {
    cursor: pointer;
}

.main-sidebar-button-up.dropdown-menu {
    right: 100%;
    bottom: -2px;
    margin-right: 1px;
}

.main-sidebar-button-down.dropdown-menu {
    right: 100%;
    top: -1px;
    margin-right: 1px;
}

.btn-friends .badge {
    font-size: 11px;
    position: absolute;
    top: 20px;
    left: 25px;
    padding: 2px 5px;
    background-color: rgb(10, 149, 10);
    color: white;
}

.grid {
    margin: @grid-padding;
    position: relative;
}

.main-friend-item {
    padding: 0px 20px;
    width: 280px;
    font-size: 12px;
    display: flex;

    & * {
        padding-right: 10px;
    }
}

.main-friend-chat {
    width: 20px;
    &:hover {
        color: @brand-primary;
        cursor: pointer;
    }
}

.main-friend-name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-friend-ago {
    color: @brand-info;
}

.main-friend-status {
    padding: 0px;
    width: 10px;
}

.main-friend-status .online {
    color: #26D026;
}

#window-contextMenu .dropdown-header {
    padding: 0px 0px 4px 0px;
    margin-top: -5px;
}

.menu-avatar {
    padding-right: 10px;
    height: 60px;
}

.flex-grow-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    min-height: 1px; // See: http://stackoverflow.com/questions/27424831
}

.flex-grow-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    min-width: 1px;
}

.flex-align-center {
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.btn.toggle-button:active, .btn.toggle-button.active {
    background-color: #4e5d6c;
}

.sidebar {
    width: 50px;
    align-items: center;
    padding: 20px 7px 10px 7px;
}

.lower-sidebar {
    .btn {
        width: 100%;
    }

    .btn.focus {
        outline: none;
    }

    & button {
        background:none;
        border:none;
        box-shadow:none;
    }
}

.btn.hidden-window-btn {
    white-space: normal;
    padding: 0px;

    .badge {
        width: 100%;
        padding: 0px 8px;
    }
}

.main-welcome-msg {
    width: 500px;

    h2 {
        margin-bottom: 30px;
    }

    button {
        margin-top: 20px;
    }
}

.fullscreen {
    background-color: #4e5d6c;
    right: 51px;
    padding: 10px;
}

.webcam {
    .btn-capture {
        position: absolute;
        margin-top: -44px;
        margin-left: -25px;
        left: 50%;
    }

    .note {
        position: absolute;
        bottom: 180px;
        left: 50%;
        transform: translate(-50%, 0);
        white-space: nowrap;
    }

    .shot canvas {
        border: 1px solid whitesmoke;
    }

    .viewfinder video {
        max-height: 400px;
    }

    .shot {
        position: absolute;
        top: 20px;
    }
}

#window-cursor {
    position: absolute;
    display: none;
    z-index: -10;
}

#window-cursor-inner {
    position: absolute;
    display: flex;
    color: whitesmoke;
    border: 1px dashed whitesmoke;
    z-index: 100;
    top: @grid-padding;
    bottom: @grid-padding;
    left: @grid-padding;
    right: @grid-padding;

    .fa {
        margin: auto;
    }
}

.announcement {
    width: 100%;
    background-color: rgb(63, 75, 87);
    align-items: center;
    padding-right: 15px;

    & > * {
        padding: 10px 0px 10px 15px;
    }
}
