.m-content {
    max-width: 500px;
    margin: 0;
}

.m-controls {
    margin-top: 20px;
}

.m-background {
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}

.m-google {
    color: #4285f4;
}

.m-yahoo {
    color: #410093;
}

.m-cloudron {
    color: #62bdfc;
}

.m-yahoo, .m-cloudron {
    margin-left: 8px;
}

.m-ext {
    margin-top: 20px;
}
