<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="mas chat service">
        <meta name="author" content="Ilkka Oksanen">
        <link rel="shortcut icon" href="/favicon.png">

        <title>MAS - {{title}}</title>

        <link href="/stylesheets/mas-pages.css" rel="stylesheet">

        <script src="/vendor/jquery/jquery.js"></script>
        <script src="/vendor/bootstrap/bootstrap.js"></script>
        <script data-main="/javascripts/requirejs-conf" src="/vendor/requirejs/require.js"></script>

        <script>
            require(['/javascripts/{{getPageJSFile}}']);
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/">MAS</a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <form id="login-form" class="navbar-form navbar-right mas-login-bar">
                    <div id="email-or-nick" class="form-group">
                        <input type="text" name="emailOrNick" placeholder="Email or Nick" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success mas-sign-in-btn">Sign in</button>
                </form>
            </div>
        </div>

        {{{body}}}

        <div class="jumbotron menu">
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
    </body>
</html>
