<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="mas chat service">
        <meta name="author" content="Ilkka Oksanen">
        <link rel="shortcut icon" href="/favicon.png">

        <title>MAS</title>
    </head>
    <body>
        {{{body}}}
    </body>

    <script src="/dist/app.js"></script>
</html>
