{{!< layouts/empty }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MAS</title>
        <link rel="stylesheet" href="{{asset "client.css"}}">

        <script src="{{asset "client-libs.js"}}"></script>
        <script src="{{asset "client.js"}}"></script>
    </head>
    <body></body>
</html>
