{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "document": false,
        "fetch": false,
        "window": false
    },
    "rules": {
        "max-len": ["error", 250],
        "react/jsx-filename-extension": ["off"],
        "react/jsx-indent": [2, 4]
    }
}
