$primary: #5cadff;
$size-6: 16px;
$family-sans-serif: 'Cabin', 'Open Sans', sans-serif;
$navbar-item-color: #eee;
$body-color: #eee;
$text: #eee;

$mas-background-color: #13262f;

$background: $mas-background-color;
$body-background-color: $mas-background-color;
$navbar-background-color: $mas-background-color;

$navbar-item-hover-color: $primary;
$navbar-dropdown-item-hover-color: $primary;

$title-color: $primary;
$subtitle-color: #dbdbdb;
