$body-background: #13262f;
$primary: #5cadff;
$size-6: 16px;
$family-sans-serif: 'Cabin', 'Open Sans', sans-serif;

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";
@import "~bulma/sass/base/helpers";
