{
  "presets": [
    "react"
  ],
  "plugins": [
    [ "react-css-modules", { "generateScopedName": "[path]_[local]_[hash:base64:7]" } ]
  ],
  "env": {
    "development": {
      "plugins": [
        [ "react-hot-loader/babel" ]
      ]
    }
  }
}
