@import "~bulma/sass/utilities/_all.sass";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    text-align: center;
    margin: 50px 20px;
}

.title {
    composes: title from 'bulma';
    margin-top: 80px;
    font-size: 40px;
}

.subtitle {
    composes: subtitle from 'bulma';
    font-weight: 100;
    font-size: 33px;
}

@include mobile {
    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 20px;
    }
}

.register-button {
    composes: button is-primary is-large is-outlined from 'bulma';
    margin-left: 35px;
}

@include until(950) {
    .register-button {
        display: flex;
        margin: 30px 0 0 0;
    }
}

.screenshot {
    margin-top: 40px;
    width: 70%;
    max-width: 1165px;
    opacity: 0.85;
    box-shadow: 7px 7px 101px -22px rgba(255,255,255,0.64);
}

.footer {
    composes: columns from 'bulma';
    width: 100%;
    max-width: 850px;
    font-size: 13px;
    justify-content: center;
    padding-bottom: 20px;

    & > * {
        padding: 0 30px;
    }

    & * {
        text-align: center;
    }
}
