{{#modal-dialog title=passwordTitle proceedButton="Change" cancel="closeModal" submit="changePassword"}}
    <span class="error-text">{{errorMsg}}</span>
    <form role="form">
        <div class="new-row">
            <label>
                {{input type="checkbox" checked=passwordEnabled}} Password protection enabled.
            </label>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{input class="form-control" elementId="password" value=password disabled=passwordDisabled}}
        </div>
    </form>
{{/modal-dialog}}
