{{#if store.initDone}}
    <div class="flex-1 flex-row">
        {{window-grid model=model activeDesktop=activeDesktop menuAction="menuAction" windowAction="windowAction" dragActiveAction="dragActiveAction"}}
        {{main-sidebar desktops=desktops openModal="openModal" windowAction="windowAction" activeDraggedWindow=activeDraggedWindow}}
    </div>

    {{window-context-menu}}
{{else}}
    <div class="flex-grow-row flex-1 flex-align-center">
        <div class="loader loader-big"></div>
    </div>
{{/if}}
