{{#each desktops as |desktop|}}
    {{desktop-button action="switch" id=desktop.id name=desktop.initials activeDraggedWindow=activeDraggedWindow selected=selected messages=desktop.messages}}
{{/each}}

{{#if activeDraggedWindow}}
    <div data-id="new" class="main-desktop-droparea main-desktop-button"><i class="fa fa-plus"></i></div>
{{/if}}
