{{#each alphabeticalDesktops as |desktop index|}}
    {{desktop-button action=switch index=index desktop=desktop activeDraggedWindow=activeDraggedWindow selected=selected}}
{{/each}}

{{#if activeDraggedWindow}}
    <div data-index="new" class="main-desktop-droparea main-desktop-button"><i class="fa fa-plus"></i></div>
{{/if}}
