{{#each alphabeticalDesktops as |desktop index|}}
    <div {{action "switch" index}} data-desktop="{{index}}" class="main-desktop-button">{{desktop}}</div>
{{/each}}

<div class="main-desktop-button-selected-rectangle"></div>
