.main {
    composes: container from 'bulma';

    padding-top: 90px;
    margin-bottom: 50px;
    width: 700px;
    max-width: 85%;
    color: #bbb;

    h1, h2, h3, h4, h5, h6 {
        color: #5cadff;
    }

    a:hover {
        color: #ddd;
    }

    .content {
        color: #bbb;
    }
}

.headline {
    composes: title is-2 from 'bulma';
}
