body {
    font-family: monospace;
    background-color: #333;
}

.window {
    background-color: #333;
    font-size: 12px;
}

.window .window-content, .window.private-1on1 .window-content {
    background-color: black;
}

.window .timestamp {
    margin-right: 8px;
}

.window .window-messages {
    color: #A5A5A5;
}

.window .line.day-divider .body {
    background-color: #1D2F1E;
    color: #AFAFAF;
}

.window .nick::before {
    content: "<";
}

.window .nick::after {
    content: ">";
}

.window .window-toolbar .form-control {
    background-color: black;
}

.window .window-add-text-container textarea:focus {
    background-color: #222;
    color: #CDCDCE;
}

.window .window-toolbar {
    border-top: 1px solid #A5A5A5;
}

.window .window-toolbar .btn, .window .window-buttons.flex-row {
    background-color: #222;
}

.window .window-members .gravatar {
    opacity: 0.3;
}

.sidebar {
    background-color: black;
}
