<div class="window flex-grow-column flex-1">
    <div class="window-title">
        Group: Foo
    </div>

    <div class="flex-grow-row flex-1">
        <div class="window-messages flex-1">

        <span class="timestamp">13:14</span> <span class="nick">Ilkka</span> All the world's a stage, and all the men and women merely players: they have their exits and their entrances; and one man in his time plays many parts, his acts being seven ages.
        </div>

        <div class="window-members">
        </div>
    </div>

    <div class="window-toolbar flex-row">

        <div class="flex-1">
            <input type="text" class="form-control">
        </div>

        <div class="window-buttons flex-row">
            <button type="button" class="flex-1 btn">
                <span class="glyphicon glyphicon-link"></span>
            </button>

            <button type="button" class="flex-1 btn">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>

            <button type="button" class="flex-1 btn">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
