<div class="flex-grow-row">
    <div class="grid flex-grow-column flex-1">
        {{outlet}}
    </div>

    <div class="sidebar flex-grow-column">
            <div class="flex-1"></div>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-folder-open"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
        </div>
</div>
