<div class="flex-grow-row">
    <div class="grid flex-grow-column flex-1">
        {{outlet}}
    </div>

    <div class="sidebar flex-grow-column">
        <div class="upper-sidebar flex-1">
            {{#if hiddenWindowCount}}
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default hidden-window-btn" data-toggle="dropdown">
                        <div class="glyphicon glyphicon-folder-open"></div>
                        <div class="badge">
                            {{hiddenWindowCount}}
                        </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li role="presentation" class="dropdown-header">Minimized windows</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            {{/if}}
        </div>

        <div class="lower-sidebar">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
        </div>
    </div>
</div>