<li class="dropdown-header">Friends:</li>

{{#each}}
    <li class="main-friend-item">
        <div class="main-friend-idle main-online">NNh</div>
        <div class="main-friend-name"><span class="glyphicon glyphicon-comment"></span>{{name}}</div>
    </li>
{{/each}}
