{{#modal-dialog title="Join IRC channel" proceedButton="OK" cancel="closeModal" submit="joinIRC"}}
    <span class="error-text">{{errorMsg}}</span>
    <form role="form">
        <div class="form-group">
            <label>Type the name of the IRC channel you wish to join</label>
            {{input class="form-control" elementId="join_irc_name" valueBinding="channel"}}
        </div>
        <div class="form-group">
            <label>Password, if needed</label>
            {{input class="form-control" elementId="join_irc_password" valueBinding="password"}}
        </div>
        <div class="form-group">
            <label>IRC network</label>
            {{view Ember.Select content=networks value=selectedNetwork classNames="form-control"}}
        </div>
    </form>
{{/modal-dialog}}
