<div class="tab-pane active flex-grow-column flex-1" id="browse">
    <div class="logs-browse-controls">
        <button type="button" class="btn flex-1 btn-primary"><i class="fa fa-chevron-left"></i></button>
        23.4.2014
        <button type="button" class="btn flex-1 btn-primary"><i class="fa fa-chevron-right"></i></button>
    </div>

    <div class="flex-grow-row flex-1">
        <ul class="list-group">
            <li class="list-group-item">Linux</li>
            <li class="list-group-item">Emberjs</li>
            <li class="list-group-item">Copenhagen</li>
            <li class="list-group-item">Finland</li>
            <li class="list-group-item">JavaScript</li>
        </ul>

        <div class="flex-1 flex-grow-column">
            <div class="logs-channel flex-1">
                DATA
            </div>
        </div>
    </div>
</div>
