<div class="flex-grow-row">
    <div class="logsbar grid flex-grow-column">
        <button {{action "close"}} type="button" class="btn btn-primary">
            Close
        </button>

        Search<p>

        <input>
    </div>

    <div class="flex-grow-column flex-1">

    </div>
</div>
