{{#each window in markedWindows}}
    {{#if window.firstInRow}}
        <div class="remove-me-debug flex-grow-row flex-1">
    {{/if}}
    {{#unless window.hidden}}
        {{render "window" window}}
    {{/unless}}
    {{#if window.lastInRow}}
        </div>
    {{/if}}
{{/each}}
