{{#each window in sortedWindows}}
    {{#if window.firstInRow}}
        <div class="remove-me-debug flex-grow-row flex-1">
    {{/if}}
    {{render "window" window}}
    {{#if window.lastInRow}}
        </div>
    {{/if}}
{{/each}}
