{{#modal-dialog title="Edit password" proceedButton="Change" cancel="closeModal" submit="changePassword"}}
    <form role="form">
        <div class="form-group">
            <label>Password</label>
            {{input class="form-control" elementId="join_irc_name" valueBinding="channel"}}
        </div>

        <label class="btn">
            <input type="radio" name="options"> Enabled
        </label>
        <label class="btn">
            <input type="radio" name="options"> Disabled
        </label>
    </form>
{{/modal-dialog}}