{{#modal-dialog title="Edit topic" proceedButton="Change" cancel="cancel" submit="changeTopic"}}
    <form role="form">
        <div class="form-group">
            <label>Topic</label>
            {{input class="form-control" elementId="topic" valueBinding="modalTopic"}}
        </div>
    </form>
{{/modal-dialog}}